#outer {
    background-color: fuchsia;
    height: 300px;
    width: 500px;
    /*文本方向不影响块级流方向*/
    /*direction: ltr;*/
    /*水平流*/
    /*-webkit-writing-mode: horizontal-tb;*/
    /*垂直流*/
    -webkit-writing-mode: vertical-lr;
    /*-ms-writing-mode: vertical-lr;*/
    /*writing-mode: vertical-lr;*/
    /*变形不影响margin/padding/content的宽高*/
    /*transform: rotate(-90deg);*/
}

#inner {
    background-color: lime;
    margin: 1% 8% 2% 5%;
    padding: 1% 8% 2% 5%;
    /*决定内容区*/
    width: 50%;
    height: 10%;
    /*font-size: inherit;*/
    /*line-height: 1em;*/
    /*box-sizing: border-box;*/
    /*决定块级流方向*/
    /*-webkit-writing-mode: horizontal-tb;*/
    /*-webkit-writing-mode: vertical-lr;*/
    /*-ms-writing-mode: vertical-lr;*/
    /*writing-mode: vertical-lr;*/
    /*变形不影响margin/padding/content的宽高*/
    /*transform: rotate(-90deg);*/
    /*测试行内元素*/
    /*display: inline;*/
    /*margin: 0.1em 1em 10% 0.5em;*/
    /*padding: 0.1em 1em 40% 0.5em;*/
    /*测试行内块级元素*/
    /*display: inline-block;*/
}
