body {
	margin: 0 10px;
	background-color: #F6F6F6;
}
header {
	text-align: center;
	font: 16px Monaco, 'Microsoft Yahei', sans-serif;
}
article {
	margin: 10px;
}
section {
	margin: 1px;
	border-bottom: 1px dotted gray;
}
footer {
	text-align: center;
	color: white;
	background-color: #212834;
	border-radius: 5px/5px;
}
footer p {
	color: lime;
}
.topdeclare {
	color: #e6a;
	border-left: 3px solid #6e6;
	background: #fff;
}
h2 {
	border-bottom: 1px dashed #fff;
}